canvas{
    background: red;
}
body{
    margin: 0;
}
.actions{
    position: fixed;
    left: 0;
    bottom: 0;
}
.actions > #brush{
    display: none;
}
.actions.x > #brush{
    display: inline-block;
}
.actions.x > #eraser{
    display: none;
}