ol li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
body{
    overflow: hidden;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
}
.actions{
    position: fixed;
    top: 9px;
    left: 30px;
}
.actions svg{
    width: 2em;
    height: 2em;
    transition: all 0.3s;
    margin-left: 8px;
}
.actions svg.active{
    fill: red;
    transform: scale(1.2);
}
.colors{
    position: fixed;
    top: 30px;
    left: 14px;
}
.colors li{
    width: 20px;
    height: 20px;
    margin: 15px 0;
    border-radius: 50%;
    transition: all 0.2s;
}
.colors li.black{
    background: black;
}
.colors li.red{
    background: red;
}
.colors li.green{
    background: green;
}
.colors li.yellow{
    background: yellow;
}
.colors li.active{
    transform: scale(1.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.sizes{
    position: fixed;
    top: 30px;
    right: 14px;
}
.sizes .thin{
    height: 0;
    width: 10px;
    border-top: 3px solid black;
}
.sizes .thick{
    height: 0;
    width: 15px;
    margin-top: 15px;
    border-top: 5px solid black;
}
.sizes .strong{
    height: 0;
    width: 20px;
    margin-top: 15px;
    border-top: 8px solid black;
}