*{
    margin: 0;
    padding: 0;
}
body{
    background: grey url(bj.jpg);
    background-size: cover;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin;
}
#main{
    background: rgb(255,255,255,0.1);
    padding: 20px 20px; 
    border-radius: 8px;
}
#main div{
    text-align: center;
}
#main div:nth-child(2){
    margin-top: 20px;
}
#main div:nth-child(3){
    margin-top: 20px;
}
#main div kbd{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 65px;
    height: 55px;
    margin-right: 20px;
    line-height: 50px;
    font-size: 18px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    color: rgb(230, 223, 223);
    background: linear-gradient(to bottom, rgba(5,1,1,1) 1%,rgba(0,0,0,1) 100%);
    box-shadow: 0px 0px 5px 1px rgb(15, 15, 15) 0px 0px 5px 1px rgb(10, 10, 10);
    transition: all 0.4s;
    position: relative;
}
#main div kbd:hover{
    box-shadow: 0px 0px 8px 3px rgba(245,245,245,1);
    cursor: pointer;
}
#main div kbd:last-child{
    margin-right: 0;
}
#main div kbd:hover>button{
    display: inline-block;
}
#main div kbd button{
    position: absolute;
    color: whitesmoke;
    right: 0;
    bottom: 0;
    height: 1.5em;
    font-size: 0.5em;
    width: 1.5em;
    display: none;
    background-color: transparent;
    border-color: transparent;
}
#main div kbd img{
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}